*{
  margin: 0em;
  padding: 0em;
}
:root{
  --back_color: #333439;
  --bg_green:rgba(30, 255, 188, 0.7);
  --bg_green_opacity: rgba(30, 255, 188, 0.3);; 
  --while_color_opacity: rgba(255, 255, 255, 0.3);
  --while_color: rgba(255, 255, 255, 1);;
  --shadow_box: 0em 0.25em 0.25em rgba(0, 0, 0, 0.25);
  --shadow_box_hover: 0em 0.5em 0.5em rgba(0, 0, 0, 0.25);
}
body{
  /* font-family: "Raleway", sans-serif ; */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: var(--bg_green);
}

/**********Home Page**********/
.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-title{
  width: max-content;
  position: relative;
  top: 5em;
  text-align: center;
}
.title{
  margin: 0em auto;
  margin-bottom: 0.5em;
  width: max-content;
  font-weight: bold;
  font-size: 4.5em;
  color: var(--back_color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitle{
  margin-top: 0.5em;
  color: #ffffff;
}
.box-btn{
  width: max-content;
  position: relative;
  top: 15em;
  display: flex;
}
.box-btn :nth-child(1){
  margin-right: 1.5em;
}
.box-btn :nth-child(2){
  margin-left: 1.5em;
}
.btn{
  width: 9em; 
  height: 3em;
  border: 0.0em solid;
  border-radius: 1em;
  box-shadow: var(--shadow_box);
  color: var(--back_color);
  font-size: 1.2em;
}
.btn:hover{
  box-shadow: 0em 0.5em 0.5em rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
#main-container{
  width: 75%;
  min-width: 43em;
  height: 100vh;
  margin: 0em auto;
  background-color:rgba(255, 255, 255, 0.3);
  box-shadow: 0em 0.5em 0.5em rgba(0, 0, 0, 0.25);
  outline: 0.0em solid;
}
.grid-score{
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.5em 1.5em 4em 1.5em;
  margin: 0em auto;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center; */
}
.goBack{
  position: relative;
  width: 3em; 
  height: 2em;
  border: 0.0em solid;
  border-radius: 0.5em;
  background-color: #ffffff;
  box-shadow: var(--shadow_box);
  color: #000;
  font-size: 1.2em;
}
.goBack svg{
  position: absolute;
  top: 30%;
  left: 30%;
}
.goBack:hover{
  box-shadow: var(--shadow_box_hover);  
  cursor: pointer;
}
/* .pos{
  position: relative;
  top: 0em;
  left: 17%;
} */
.board-score{
  width: 30%;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  border-radius: 0.5em;
  box-shadow: var(--shadow_box);
  background-color: #ffffff;
  outline: 0.0em solid; 
}
.board-score :first-child{
  margin-right: 1em;
}
.board-score-item{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline: 0.0em solid;
}
.players{
  margin-right: 0em;
  margin-bottom: 0em;
}
.score{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 2em;
  text-align: center;
  border-radius: 0.5em;
  /* background-color: #ffffff; */
}
.container{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
.items{
  width: 1.24em;
  height: 1.24em;
  margin: 0.05em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  border: 0.0em solid #212F3D;
  border-radius: 5px;
  background-color: #F7F9F9;
  filter: drop-shadow(0em 0.1em 0.1em rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
.grid-board{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-top: 1.5em;
}
.grid-board :nth-child(1){
  margin-right: 0.8em;
  color: #ffffff;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
}
.grid-board :nth-child(2){
  margin-left: 0.8em;
  color: #ffffff;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
}
.grid-board .btn:hover{
  color: #000;
  background: rgb(255, 255, 255);
}
/*pop up winner*/

.card{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 20%;
  right: 48.5%;
  left: 48.5%;
  padding: 0.2em;
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 1.3rem;
  visibility: hidden;
  z-index: 1;
}
.popUpWin{
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.01em solid #239B56;
  border-radius: 0.3em;
  background: rgb(47, 47, 47);
}
.card--show{
  visibility: visible;
  transition: .5s ease all;
}